#about {
    width: 100%;
    height: 100%;
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#about-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#about-section-about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-section-title {
    flex: 4;
    font-family: var(--font-family);
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-section-title h1 {
    margin: 5vh 0;
}

#about-section-title-lines {
    border-left: 1px solid var(--main-text-color);
    border-bottom: 1px solid var(--main-text-color);
    width: 20%;
    height: 15vh;
    border-radius: 0 0 0 5px;
    margin-left: 10vw;
}

#about-section-info {
    flex: 6;
    font-family: var(--font-family);
    font-size: 1rem;
}

#about-section-planet {
    width: 100%;
    height: 60vh;
    margin: 15vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-section-planet p {
    flex: 1;
    font-family: var(--font-family);
    font-size: 1rem;
}

#about-section-planet-image {
    flex: 1;
    height: 100%;
    margin-right: 10vw;
    background-image: url("/public/images/3-32091_new-science-fiction-author-e-j-deen-dark.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .8;
}

#about-section-other {
    width: 100%;
    height: 60vh;
    margin: 15vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-section-other p {
    flex: 1;
    font-family: var(--font-family);
    font-size: 1rem;
}

#about-section-other-image {
    flex: 1;
    height: 100%;
    margin-left: 10vw;
    background-image: url("/public/images/41-412932_comet-clipart-galaxy-comet-png.png");
    background-repeat: no-repeat;
    background-size: contain;
}