#header {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

#header-title {
    font-family: var(--font-family);
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}