#system {
    position: relative;
    width: 95%;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 100;
    background-image: url('/public/images/jeremy-perkins-FsK54FVNRfM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#space {
    padding: 1vh 1vw;
    width: 100%;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: rotate(45deg) translate(150px) rotate(-45deg);
    -webkit-animation: orbit2 8s linear infinite;
    -moz-animation: orbit2 8s linear infinite;
    -o-animation: orbit2 8s linear infinite;
    animation: orbit2 8s linear infinite;
    margin: 10vh 0;
}

#sun {
    background-image: url("/public/images/sun.gif");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 50%;
    position: absolute;
}

#mercury {
    background-image: url("/public/images/mercury.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: rotate(0deg) translate(50px) rotate(0deg);
    -webkit-animation: orbit1 8s linear infinite;
    -moz-animation: orbit1 8s linear infinite;
    -o-animation: orbit1 8s linear infinite;
    animation: orbit1 8s linear infinite;
}

#venus {
    background-image: url("/public/images/venus.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: rotate(45deg) translate(100px) rotate(-45deg);
    -webkit-animation: orbit2 16s linear infinite;
    -moz-animation: orbit2 16s linear infinite;
    -o-animation: orbit2 16s linear infinite;
    animation: orbit2 16s linear infinite;
}

#earth {
    background-image: url("/public/images/earth.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: rotate(45deg) translate(150px) rotate(-45deg);
    -webkit-animation: orbit3 24s linear infinite;
    -moz-animation: orbit3 24s linear infinite;
    -o-animation: orbit3 24s linear infinite;
    animation: orbit3 24s linear infinite;
}

#mars {
    background-image: url("/public/images/mars.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: rotate(45deg) translate(200px) rotate(-45deg);
    -webkit-animation: orbit4 32s linear infinite;
    -moz-animation: orbit4 32s linear infinite;
    -o-animation: orbit4 32s linear infinite;
    animation: orbit4 32s linear infinite;
}

#jupiter {
    background-image: url("/public/images/jupitur.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: rotate(45deg) translate(250px) rotate(-45deg);
    -webkit-animation: orbit5 40s linear infinite;
    -moz-animation: orbit5 40s linear infinite;
    -o-animation: orbit5 40s linear infinite;
    animation: orbit5 40s linear infinite;
}

#saturn {
    background-image: url("/public/images/saturn.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: rotate(45deg) translate(300px) rotate(-45deg);
    -webkit-animation: orbit6 48s linear infinite;
    -moz-animation: orbit6 48s linear infinite;
    -o-animation: orbit6 48s linear infinite;
    animation: orbit6 48s linear infinite;
}

#neptune {
    background-image: url("/public/images/neptune.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: rotate(45deg) translate(350px) rotate(-45deg);
    -webkit-animation: orbit7 56s linear infinite;
    -moz-animation: orbit7 56s linear infinite;
    -o-animation: orbit7 56s linear infinite;
    animation: orbit7 56s linear infinite;
}

#uranus {
    background-image: url("/public/images/uranus.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: rotate(45deg) translate(400px) rotate(-45deg);
    -webkit-animation: orbit8 64s linear infinite;
    -moz-animation: orbit8 64s linear infinite;
    -o-animation: orbit8 64s linear infinite;
    animation: orbit8 64s linear infinite;
}

/* --------------------- Mecury ------------------------- */
@-webkit-keyframes orbit1 {
    /* 50px */
    from { -webkit-transform: rotate(0deg) translateX(4vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(4vw) rotate(-360deg);}
}

@-moz-keyframes orbit1 {
    from { -webkit-transform: rotate(0deg) translateX(4vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(4vw) rotate(-360deg);}
}

@-o-keyframes orbit1 {
    from { -webkit-transform: rotate(0deg) translateX(4vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(4vw) rotate(-360deg);}
}

@keyframes orbit1 {
    from { -webkit-transform: rotate(0deg) translateX(4vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(4vw) rotate(-360deg);}
}

/* ---------------------------- Venus ----------------------------- */
/* 100px */
@-webkit-keyframes orbit2 {
    from { -webkit-transform: rotate(0deg) translateX(8vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(8vw) rotate(-360deg);}
}

@-moz-keyframes orbit2 {
    from { -webkit-transform: rotate(0deg) translateX(8vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(8vw) rotate(-360deg);}
}

@-o-keyframes orbit2 {
    from { -webkit-transform: rotate(0deg) translateX(8vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(8vw) rotate(-360deg);}
}

@keyframes orbit2 {
    from { -webkit-transform: rotate(0deg) translateX(8vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(8vw) rotate(-360deg);}
}

/* ----------------------------- earth ---------------------------- */
/* 150px */
@-webkit-keyframes orbit3 {
    from { -webkit-transform: rotate(0deg) translateX(12vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(12vw) rotate(-360deg);}
}

@-moz-keyframes orbit3 {
    from { -webkit-transform: rotate(0deg) translateX(12vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(12vw) rotate(-360deg);}
}

@-o-keyframes orbit3 {
    from { -webkit-transform: rotate(0deg) translateX(12vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(12vw) rotate(-360deg);}
}

@keyframes orbit3 {
    from { -webkit-transform: rotate(0deg) translateX(12vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(12vw) rotate(-360deg);}
}

/* ---------------------------------- Mars ---------------------------- */
/* 200px */
@-webkit-keyframes orbit4 {
    from { -webkit-transform: rotate(0deg) translateX(16vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(16vw) rotate(-360deg);}
}

@-moz-keyframes orbit4 {
    from { -webkit-transform: rotate(0deg) translateX(16vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(16vw) rotate(-360deg);}
}

@-o-keyframes orbit4 {
    from { -webkit-transform: rotate(0deg) translateX(16vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(16vw) rotate(-360deg);}
}

@keyframes orbit4 {
    from { -webkit-transform: rotate(0deg) translateX(16vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(16vw) rotate(-360deg);}
}

/* ------------------------------- Jupiter ----------------------- */
/* 250px */
@-webkit-keyframes orbit5 {
    from { -webkit-transform: rotate(0deg) translateX(20vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(20vw) rotate(-360deg);}
}

@-moz-keyframes orbit5 {
    from { -webkit-transform: rotate(0deg) translateX(20vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(20vw) rotate(-360deg);}
}

@-o-keyframes orbit5 {
    from { -webkit-transform: rotate(0deg) translateX(20vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(20vw) rotate(-360deg);}
}

@keyframes orbit5 {
    from { -webkit-transform: rotate(0deg) translateX(20vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(20vw) rotate(-360deg);}
}

/* ------------------------------- Saturn --------------------------- */
/* 300px */
@-webkit-keyframes orbit6 {
    from { -webkit-transform: rotate(0deg) translateX(24vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(24vw) rotate(-360deg);}
}

@-moz-keyframes orbit6 {
    from { -webkit-transform: rotate(0deg) translateX(24vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(24vw) rotate(-360deg);}
}

@-o-keyframes orbit6 {
    from { -webkit-transform: rotate(0deg) translateX(24vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(24vw) rotate(-360deg);}
}

@keyframes orbit6 {
    from { -webkit-transform: rotate(0deg) translateX(24vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(24vw) rotate(-360deg);}
}

/* ------------------------- Neptune -------------------------------- */
/* 350px */
@-webkit-keyframes orbit7 {
    from { -webkit-transform: rotate(0deg) translateX(28vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(28vw) rotate(-360deg);}
}

@-moz-keyframes orbit7 {
    from { -webkit-transform: rotate(0deg) translateX(28vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(28vw) rotate(-360deg);}
}

@-o-keyframes orbit7 {
    from { -webkit-transform: rotate(0deg) translateX(28vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(28vw) rotate(-360deg);}
}

@keyframes orbit7 {
    from { -webkit-transform: rotate(0deg) translateX(28vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(28vw) rotate(-360deg);}
}

/* ---------------------------- Uranus ----------------------------- */
/* 400px */
@-webkit-keyframes orbit8 {
    from { -webkit-transform: rotate(0deg) translateX(32vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(32vw) rotate(-360deg);}
}

@-moz-keyframes orbit8 {
    from { -webkit-transform: rotate(0deg) translateX(32vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(32vw) rotate(-360deg);}
}

@-o-keyframes orbit8 {
    from { -webkit-transform: rotate(0deg) translateX(32vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(32vw) rotate(-360deg);}
}

@keyframes orbit8 {
    from { -webkit-transform: rotate(0deg) translateX(32vw) rotate(0deg);}
    to { -webkit-transform: rotate(360deg) translateX(32vw) rotate(-360deg);}
}